<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="./style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	
</head>

<body>
	<div class="header" style="background-color:#0a92f5; height: 40px;margin: -1px; " align="center"> <!-- header -->
		
		<table>
			<tr>

				<td width="350px"> <!-- //first column  icon + search-bar -->
					<table>
						<tr>
							<td>icon</td>
							<td>
								<input type="text" name="search" style="height: 18px;">
								<button style="height: 20px;margin-top: 5px;padding-top: -8px;">Search</button>

							</td>
						</tr>
					</table>
				</td>
				<td width="150px"> <!-- //user profile pic + username-->
						<table>
							<tr>
								<td>pro pic</td>
								<td>username</td>
							</tr>
						</table>

				</td>

				
				<td width="150px"> <!-- //home button + logout btn -->
					<table>
						<tr>
							<td>Home</td>
							<td>Log out</td>
						</tr>
					</table>

				</td>
				
			</tr>
		</table>

	</div>




</body>
</html>